ul.pagination
  //li.pagination__item
  //  a(href='#')  &laquo;
  //li.pagination__item
  //  a(href='#')  1
  //li.pagination__item
  //  a(href='#')  2
  //li.pagination__item--active.pagination__item
  //  a(href='#')  3
  //li.pagination__item
  //  a(href='#')  4
  //li.pagination__item
  //  a(href='#')  5
  //li.pagination__item
  //  a(href='#')  6
  //li.pagination__item
  //  a(href='#')  7
  //li.pagination__item
  //  a(href='#')  8
  //li.pagination__item
  //  a(href='#')  &raquo;