#sentiment-pie--resp.apache-echart.sentiment-pie.margin-bottom-medium(data-sentiments = `${JSON.stringify(Object.values(reportsMoodShare))}`)
#report-freq--resp.apache-echart.report-freq.margin-bottom-medium(data-reports = `${JSON.stringify([Object.keys(reportsByDate), Object.values(reportsByDate)])}`)