li.topic.margin-bottom-extra-small
  .topic__info
    .topic__info--basics
      span.topic__info--time
        a.link-info.link-info--small(href='#') June 20, 2020
      span.topic__info--location
        a.link-info.link-info--small(href='#') Koblenz, Germany
      span.topic__info--category
        a.link-info.link-info--category(href='#') Politics
    .topic__info--reports
      span.topic__info--report-count
        a.link-info.link-info--small(href='#') 27,275 reports
  img.topic__img.margin-bottom-small(src='img/politics.jpg' alt='')
  p.topic__title
    a(href='#') Only one side gets to decide on everything. Is this really a democracy?
  p.topic__description
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda, culpa cupiditate dolorum eligendi eos ex explicabo laudantium minima minus molestiae molestias nemo officiis perferendis praesentium ratione recusandae ullam unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet maxime nesciunt praesentium quibusdam quos temporibus, ut! Culpa distinctio facilis mollitia nam nihil, nisi, obcaecati porro repellat saepe sunt unde...
  .topic__read-more
    a.btn.btn-black(href='/topic.html') Read more
  .topic__tags-container
    .tags
      .tags__title
        span.text--secondary--important tags
      .tags__item
        a.tag(href='#') Black lives matter
      .tags__item
        a.tag(href='#') Covid-19
      .tags__item
        a.tag(href='#') USA
      .tags__item
        a.tag(href='#') Pandemic
      .tags__item
        a.tag(href='#') Virus
  p.topic__author.paragraph--small.text-italics.margin-bottom-medium &ndash; Author: Anonymous
