.element { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

canvas
{
	border-style:solid;
	border-width:medium;
} 

/*#map-canvas {
	height:200px;
}

#topic-canvas {
	height:200px;
}

#timeseries-canvas {
	height:200px;
}

#sentiment-canvas {
	height:200px;
}
*/