
/*
	http://webdesign.tutsplus.com/tutorials/complete-websites/build-a-modular-dashboard-interface-with-pure/
    red: #E73F3F
    orange: #F76C27
    yellow: #E7E737
    blue: #6D9DD1
    purple: #7E45D3
*/

html, body {
    height: 100%;
}

.dashboard {
    overflow: hidden; 
    padding-bottom: 1em;
}

.row > .col-md-6, .row > .col-md-3 {
    display: table-cell;
    float: none;
}

.dashboard-piece {
    min-height: 300px;
    /*color: #fff;*/
    text-align: center;
    vertical-align: middle;
    position: relative;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding: 1em;
}

.dashboard .jumbotron
{
    border-radius: 0px;
    /*max-height: 300px;*/
}

.dashboard-piece-redbg {
    background-color: rgb(236, 102, 60);
}
.dashboard-piece-orangebg {
    background-color: rgb(18, 176, 197);
}
.dashboard-piece-yellowbg {
    background-color: rgb(255, 150, 24);
}
.dashboard-piece-bluebg {
    background-color: rgb(156, 66, 116);
}
.dashboard-piece-purplebg {
    background-color: #7E45D3;
}
.dashboard-piece-graybg {
    background-color: rgb(18, 176, 197);
}

/*.dashboard-content p {
    font-weight: lighter;
}
.dashboard-content .light {
    opacity: 0.4;
    display: block;
}
.dashboard-content h2 i {
    font-size: 4em;
    opacity: 0.4;
}

.dashboard-content > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
*/

.dashboard-content
{
	/*border-style:solid;
	border-width:medium;
    border-color: black;*/

    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
}

.map-canvas img {
    max-width: none;
}

#map-canvas {
	max-height: 300px;
    height: 100%;
    width: 100%;
}



#timeseries-canvas {
    max-height: 300px;
    height: 100%;
    width: 100%;
    top: 18px;
}

footer {
    background: rgb(20,20,20);
    color: #aaa;
    padding: 10px;
    font-size: 0.6em;
    font-weight: bold;
}