extend base

block content
  section.container--full
    .sign.container--full__col.container--full__col--1
      .sign__form.sign__form--404
        a.navigation__logo(href='/l')
          img(src='/img/Group%2029@2x.png' alt='')
        p.text__404 404
        br
        p.text-italics
          | ...
          span.text__primary Oops!
          |  We got lost while looking for the content you requested. Try again later.
    .container--full__col.container--full__col--2
      img(src='/img/compass.jpeg' alt='')
