input#menu__checkbox.menu__checkbox(type='checkbox')
label.menu__button(for='menu__checkbox')
  span.menu__icon
.menu-container
  .menu(data-simplebar='' data-simplebar-auto-hide='false')
    ul.menu-list
      li.menu__item.menu__item--1
        a.menu__link.menu__link--active(href='/') Home
      li.menu__item.menu__item--2
        a.menu__link(href='/#topics') See topics
      li.menu__item.menu__item--2
        a.menu__link(href='#topics') Create new topics
      li.menu__item.menu__item--3
        a.menu__link(href='#') About
      if user
        li.menu__item.menu__item--4
          button.sign-out.menu__link Sign out
        li.menu__item.menu__item--5
          a.menu__link(href='#') #{user.name.split(' ')[0]} account
      else
        li.menu__item.menu__item--4
          a.menu__link(href='/login') Sign In
        li.menu__item.menu__item--5
          a.menu__link(href='/signup') Create an account