.topics__search-bar.margin-bottom-large
  .topics__search-box
    form.search(action='#')
      input.search__input(type='text' placeholder='Search topics')
      button.search__button
        svg.search__icon
          use(xlink:href='img/sprite.svg#icon-search')
      .search__quick-results
        .search__directives
          p.search__results--count 50 results found...
        ul.search__list
          li.search__item
            a.search__item--info(href='#')
              .search__item--span
                p.search__item--title.heading--tertiary.margin-bottom-extra-small Only one side gets to decide on everything. Is this really a democracy?
                span.search__item--description.paragraph--small
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti doloribus exercitationem laudantium minus nisi quaerat qui vero.
  .topics__search-bar--filters
    .select-group.select-group--1.multi-select(data-select='categories')
      .select-container
        .selected
          | Select category
        .select-box
          .option-container.option-container--orient-left(data-simplebar='' data-simplebar-auto-hide='false')
            .option
              input#politics.option__radio(type='checkbox' value='Politics' name='category')
              label.option__label.option__label--active(for='politics') Politics
    .select-group.select-group--2.multi-select(data-select='tags')
      .select-container
        .selected
          | Select tags
        .select-box
          .option-container.option-container--orient-right(data-simplebar='' data-simplebar-auto-hide='false')
            .option
              input#covid-19.option__radio(type='checkbox' value='Covid-19' name='tags')
              label.option__label.option__label--active(for='covid-19') Covid-19 outbreak
    span.btn.btn--small.btn-black Filter
