li.sm-card
  p.sm-card__rank
    | 01
  // <img src="img/politics.jpg" alt="" class="sm-card__img">
  .sm-card__info
    .sm-card__main
      a.link-info.link-info--normal(href='#') Only one side gets to decide on everything. Is this really a democracy?
    .sm-card__sub
      a.sm-card__category.sm-card__link.link-info.link-info--category.link-info--category--small(href='#') Climate &amp; environment
      a.sm-card__link.link-info.link-info--small.link-info--small--sm(href='#') Last update on July 21, 2020