.full-container.create-topic-form
  .form-container(data-simplebar='' data-simplebar-auto-hide='false')
    .create-topic-close.btn-close
      span.btn-close__icon
    h3.section__title.margin-bottom-small Create a new topic
    form.form.form--create-topic
      .form__group
        input#title.form__input(type='text' placeholder='Title' required='' minlength=30 maxlength=120)
        label.form__label(for='title')
          | Topic&apos;s title
          span.form__message
            |
            | *
      .form__group.form__group--small
        label.form__label--title(for='select-category-create-topic-form')
          | Topic&apos;s category
          span.form__message
            |
            | *
        select#select-category-create-topic-form.form-control(data-trigger='' name='choices-single-default' placeholder='Search category')
          option(value='') Select category
          each category in categories
            option(value=`${category}`)= category
      .form__group
        label#topicDescriptionLabel.form__label--title(for='topicDescription')
          | Topic&apos;s description
          span.form__message *
        input#topicDescription(name='description' type='hidden')
        .form__editor.editor#topicEditor
      .form__group
        input#select-tags-create-topic-form.form-control.form__input(type='text' value='' placeholder='Enter something')
        label.form__label(for='select-tags-create-topic-form') Topic&apos;s tags
      .form__group.form-control--links
        input#select-mediaUrls-create-topic-form.form-control.form__input(type='text' value='' placeholder='Enter something')
        label.form__label(for='select-mediaUrls-create-topic-form') Topic&apos;s supporting links or sources
      .form__group
        label.form__label(for='location')
          | Topic's location
          span.form__message *
        input#location.form__input(type='hidden' placeholder="Topic's location" )
        .form__map
          .map#createTopicMap
      .form__group
        input#imageCover.form__input.form__upload(type='file' accept='image/*' name='imageCover')
        label.form__profile-picture--button(for='imageCover')
          svg.form__profile-picture--button--icon
            use(xlink:href='/img/sprite.svg#icon-upload2')
          span
            | Please upload a cover image for your topic
            em (A default will be used otherwise)
            | .
      .form__group.form__group--split
        input.btn.btn--small.btn-primary(type='Reset' value='Reset Form')
        input.btn.btn--small.btn-black(type='Submit' value='Create Topic')
