doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    title Observers &mdash; See, Share, Save!

    block cssImports
      link(rel='stylesheet' href='https://unpkg.com/simplebar@latest/dist/simplebar.css')

      link(rel='stylesheet'  href='http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic|Frank+Ruhl+Libre:400,500,700|Fjalla+One:400' type='text/css' media='all')
      link(rel='stylesheet' href='css/style.css')
      link(rel='shortcut icon' type='image/ico' href='img/favicon.ico')

  body.container
    block content

    script(src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js')
    script(src="/js/bundle.js")