extend base

block content
  section.container--full
    .sign.container--full__col.container--full__col--1
      .sign__form
        a.navigation__logo(href='/')
          img(src='/img/Group%2029@2x.png' alt='')
        br
        p.sign__message
          | Your memory couldn&apos;t hold onto your
          span.text-italics.text-color-primary.text-bold
            |
            | password
          br
          br
          | Provide email to reset
        br
        form.form.form--forgotpassword(action='#')
          .form__group.form__group--small-margin
            input#email.form__input(type='email' placeholder='Email' required='')
            label.form__label(for='email')
              | Email
              span.form__message
          .form__group.form__group--small-margin
            input.form__submit--full.form__submit--full--black(type='submit' value='Send reset token')
    .container--full__col.container--full__col--2
      img(src='/img/forgot.jpg' alt='')
