extend base


block content
  section.container--full
    .sign.container--full__col.container--full__col--1
      .sign__form
        a.navigation__logo(href='/')
          img(src='img/Group%2029@2x.png' alt='')
        p.sign__message
          | Welcome back, sign in and start
          span.text-italics.text-color-primary.text-bold
            |
            | reporting
        form.form.form--signin
          .form__group.form__group--small-margin
            input#email.form__input(type='email' placeholder='Email' required='')
            label.form__label(for='email')
              | Email
              span.form__messages
          .form__group.form__group--small-margin
            input#password.form__input(type='password' placeholder='Password' required='')
            label.form__label(for='password')
              | Password
              span.form__message
          .form__group.form__group--small-margin
            input.form__submit--full.form__submit--full--black(type='submit' value='Sign in dear observer')
        p.sign__text.text-italics or
        .sign__alt-operation
          a.sign__alt-operation--el.btn__font--default.btn.btn--brown.btn--fill(href='/api/v1/users/auth/google')
            svg.btn__icon
              use(xlink:href='img/sprite.svg#icon-icons8-google')
            |
            span Sign in with google
          a.sign__alt-operation--el.btn__font--default.btn.btn-black(href='/signup')
            | Create an account
    .container--full__col.container--full__col--2
      img(src='img/coffee_and_pencil.jpg' alt='')
