extends baseEmail

block content
  // START CENTERED WHITE CONTAINER
  table.main(role="presentation")
    // START MAIN CONTENT AREA
    tr
      td.wrapper
        table(role="presentation" border="0" cellpadding="0" cellspacing="0")
          tr
            td
              p Hi #{firstName},
              p
                | Forgot your password? click on the following link to update your password (the link will expire in 10 minutes).
              table.btn.btn-primary(role="presentation" border="0" cellpadding="0" cellspacing="0")
                tbody
                  tr
                    td(align="left")
                      table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                        tbody
                          tr
                            td
                              a(href=`${url}` target="_blank") Reset your password
              p
                | Just ignore this mail, otherwise.
              p Warm regards