.nav {
  list-style: none;
  @include respond(tab-port) {
    display: none;
    visibility: hidden;
  }
  display: flex;
  align-items: center;

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__user {
    box-shadow: $box-shadow-subtle;
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--icon {
      width: 4rem;
      fill: aliceblue;
      height: 4rem;
      background-size: 4rem 4rem;
      border-radius: 50%;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: .3rem solid transparent;
      transition: all .4s;
      transform-origin: center;
      transform: rotate(0);
    }

    &:hover::after {
      border-top-color: var(--color-primary);
      border-right-color: var(--color-primary);
      transform: rotate(180deg)
    }
    &:hover::before {
      border-bottom-color: var(--color-primary);
      border-left-color: var(--color-primary);
      transform: rotate(-180deg)
    }

    &--active {
      &::after,
      &::before {
        border-color: var(--color-primary);
      }
    }
  }

  &__link {
    display: inline-block;
    padding: .8rem 2rem;
    color: var(--color-black-lighter);
    &,
    &:link,
    &:visited {
      cursor: pointer;
      background-color: var(--color-white);
      text-decoration: none;

      font-family: 'Frank Ruhl Libre', sans-serif;
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    transition: all .3s;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: .2rem;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: all .3s .1s ease-in;
      background-color: var(--color-primary);
    }

    & > span {
      position: relative;
      z-index: 1;
    }

    &--baseline {
      &:hover {color: var(--color-primary);}
      &:hover::after { transform: scaleX(1);}
    }

    &--active {
      color: var(--color-primary);
      &::after {transform: scaleX(1);}
    }

    &--cta {
      border: 2px solid var(--color-black);

      &::after {
        height: 100%;
      }
      &--secondary::after {
        background-color: var(--color-secondary);
        transform-origin: right;
      }

      &:hover {
        color: var(--color-white);
        border: 2px solid transparent;
        &::after {transform: scaleX(1);}
      }
    }
  }
}