.ql-container {
  font-family: 'PT serif', serif;
  font-size: 1.5rem;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--color-secondary);
}
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: var(--color-secondary);
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--color-secondary);
}

.ql-snow .ql-tooltip {
  border: 1px solid var(--color-grey-lighter);
}

.ql-snow .ql-tooltip input[type=text] {
  border: 1px solid var(--color-grey-lighter);
}

.ql-container.ql-snow {
  border: 1px solid var(--color-grey-lighter);
  color: var(--color-black-lighter);
}

.ql-toolbar.ql-snow {
  font-family: 'PT serif', serif;
  border: 1px solid var(--color-grey-lighter);
}

.ql-snow .ql-editor a {
  text-decoration: none;
  color: var(--color-secondary);
  transition: all .2s;

  &:hover {
    color: darken($color-secondary, 10%);
  }
}

.ql-snow .ql-picker.ql-header {
  font-family: 'Frank Ruhl Libre', serif;
}

.ql-editor ul {
  list-style: none;

  li {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      height: .5rem;
      width: .5rem;
      background-color: var(--color-secondary);
      transform-origin: center;
      transform: translateY(-50%) rotate(45deg);
    }
  }
}

.ql-snow .ql-editor blockquote {
  border-left: .2rem solid var(--color-primary);
  font-style: italic;
  color: var(--color-grey-light);
}

.ql-editor li:not(.ql-direction-rtl)::before {
  margin-left: 0;
  margin-right: 0.4em;
  text-align: right;
}

.ql-snow .ql-editor h3 {
  color: var(--color-grey-light);
}

.ql-editor p {
  strong {
    color: var(--color-grey-light);
  }
  u {
    text-decoration-color: var(--color-secondary);
  }
}

.ql-editor p {
  strong {
    color: var(--color-grey-light);
  }
  u {
    text-decoration-color: var(--color-secondary);
  }
}


.ql-generated {
  a {
    text-decoration: none;
    color: var(--color-secondary);
    transition: all .2s;

    &:hover {
      color: darken($color-secondary, 10%);
    }
  }
  p {
    strong {
      color: var(--color-grey-light);
    }
    u {
      text-decoration-color: var(--color-secondary);
    }
  }
  blockquote {
    border-left: .2rem solid var(--color-primary);
    font-style: italic;
    color: var(--color-grey-light);
  }
  ul {
    list-style: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 2rem;

    li {
      position: relative;
      padding-left: 1.5rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        height: .5rem;
        width: .5rem;
        background-color: var(--color-secondary);
        transform-origin: center;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
  ol {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 2rem;

    li {
      position: relative;
      padding-left: 1.5rem;
    }
  }
}
