@keyframes fadeInBottom {
  0%{
    opacity: 0;
    transform: translateY(4rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0%{
    opacity: 0;
    transform: translateX(-4rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0%{
    opacity: 0;
    transform: translateX(4rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes growInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%) scaleX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scaleX(1);
  }
}

@keyframes growInTop {
  0% {
    opacity: 0;
    transform: translateX(-50%) scaleY(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scaleY(1);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: .5;
    transform: translate(-50%, -50%) scale(.75);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}