<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <security-constraint>
  <web-resource-collection>
    <web-resource-name>website</web-resource-name>
    <url-pattern>/*</url-pattern>
  </web-resource-collection>
  <user-data-constraint>
    <transport-guarantee>CONFIDENTIAL</transport-guarantee>
  </user-data-constraint>
</security-constraint>

  <servlet>
    <servlet-name>predict</servlet-name>
    <servlet-class>com.observers.servlet.PredictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>predict</servlet-name>
    <url-pattern>/api/predict</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>connect</servlet-name>
    <servlet-class>com.observers.servlet.ConnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connect</servlet-name>
    <url-pattern>/api/connect</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>disconnect</servlet-name>
  <servlet-class>com.observers.servlet.DisconnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disconnect</servlet-name>
    <url-pattern>/api/disconnect</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>logout</servlet-name>
  <servlet-class>com.observers.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/api/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>oauth2callback</servlet-name>
    <servlet-class>com.observers.servlet.ConnectServletCallback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oauth2callback</servlet-name>
    <url-pattern>/api/oauth2callback</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>twitterconnect</servlet-name>
    <servlet-class>com.observers.servlet.TwitterConnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twitterconnect</servlet-name>
    <url-pattern>/api/twitter/connect</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>twitterconnectcallback</servlet-name>
    <servlet-class>com.observers.servlet.TwitterConnectCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twitterconnectcallback</servlet-name>
    <url-pattern>/api/twitter/callback</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>users</servlet-name>
    <servlet-class>com.observers.servlet.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>users</servlet-name>
    <url-pattern>/api/users</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>topics</servlet-name>
    <servlet-class>com.observers.servlet.TopicsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>topics</servlet-name>
    <url-pattern>/api/topics</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>topicanalysis</servlet-name>
    <servlet-class>com.observers.servlet.TopicAnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>topicanalysis</servlet-name>
    <url-pattern>/api/topics/analysis</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>topicbuzzwords</servlet-name>
    <servlet-class>com.observers.servlet.TopicBuzzwordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>topicbuzzwords</servlet-name>
    <url-pattern>/api/topics/buzzwords</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>reports</servlet-name>
    <servlet-class>com.observers.servlet.ReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reports</servlet-name>
    <url-pattern>/api/reports</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>channels</servlet-name>
    <servlet-class>com.observers.servlet.ChannelsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>channels</servlet-name>
    <url-pattern>/api/channels</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>twitter</servlet-name>
    <servlet-class>com.observers.servlet.TwitterChannelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twitter</servlet-name>
    <url-pattern>/api/twitter</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>twilio</servlet-name>
    <servlet-class>com.observers.servlet.TwilioChannelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twilio</servlet-name>
    <url-pattern>/api/twilio</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>twilioreply</servlet-name>
    <servlet-class>com.observers.servlet.TwilioReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twilioreply</servlet-name>
    <!--<url-pattern>/api/twilio/reply</url-pattern>-->
    <url-pattern>/api/twilio/sms</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>twilioshare</servlet-name>
    <servlet-class>com.observers.servlet.TwilioShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twilioshare</servlet-name>
    <!--<url-pattern>/api/twilio/reply</url-pattern>-->
    <url-pattern>/api/twilio/share</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>